@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  color: white;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;  
}

.center {
  text-align: center; 
}

.jumbotron {
  background-image: asset-url('cellphone-desk-iphone-7100.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold; 
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: transparent;
}

.btn-xlarge:hover {
  background-color: transparent;
}

footer {
  margin-top: 35px;
  padding-top: 5px;
  border-top: 1px solid #eeaaee;
  color: #777;
}

.article-actions {
  border-top: 1px solid #eeaaee;
  padding: 5px
}

.description {
  margin: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eeaaee;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer a:hover{
  color: #222;
}  

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
} 

footer ul li {
  float: left;
  margin-left: 15px;
}